.v-card--material__header.v-card {
  border-radius: 4px;
}

.v-card--material-chart .v-card--material__header .ct-label {
  color: inherit;
  opacity: 0.7;
  font-size: 0.975rem;
  font-weight: 100;
}

.v-card--material-chart .v-card--material__header .ct-grid {
  stroke: hsla(0, 0%, 100%, 0.2);
}

.v-card--material-chart .v-card--material__header .ct-series-a .ct-bar,
.v-card--material-chart .v-card--material__header .ct-series-a .ct-line,
.v-card--material-chart .v-card--material__header .ct-series-a .ct-point,
.v-card--material-chart .v-card--material__header .ct-series-a .ct-slice-donut {
  stroke: hsla(0, 0%, 100%, 0.8);
}

.v-card--material-chart .v-card--material__header .ct-series-a .ct-area,
.v-card--material-chart .v-card--material__header .ct-series-a .ct-slice-pie {
  fill: hsla(0, 0%, 100%, 0.4);
}

.v-card--material-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.v-card--material-stats .v-offset {
  display: inline-block;
  -webkit-box-flex: 0;
  -ms-flex: 0 1;
  flex: 0 1;
  margin-top: 0;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0 !important;
  max-width: auto;
  padding: 0 16px 0;
}

.v-card--material-stats .v-card {
  border-radius: 4px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.v-card--material-stats .v-card__text {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.v-card--material-stats .v-card__actions {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 100%;
  flex: 1 0 100%;
}

.v-card--material-chart.v-card:not(.v-card--material__header),
.v-card--material-stats.v-card:not(.v-card--material__header) {
  margin: 25px 0 !important;
}

.v-card--material-stats.v-card .v-offset {
  position: absolute;
}

.v-card--material-stats.v-card .v-offset .v-card {
  max-width: 85px;
  max-height: 85px;
  line-height: 85px;
  padding: 15px !important;
}

.v-card--material-stats.v-card .v-offset .v-card i {
  font-size: 36px !important;
  line-height: 56px;
  width: 56px;
  height: 56px;
}

.v-card--material-stats.v-card .v-card__text {
  text-align: right;
  padding-top: 10px;
  position: relative;
}

.v-card--material-stats.v-card .title {
  margin: 0 !important;
  line-height: 1.5em !important;
  letter-spacing: 0 !important;
  font-size: 1.5625rem !important;
}

.v-card--material-stats.v-card .title small {
  color: #999;
  font-size: 65%;
  line-height: 1;
  font-weight: 400;
}

.v-card--material-chart.v-card:not(.v-card--material__header) {
  margin: 25px 0 !important;
}

.v-card--material-stats.v-card .v-card__actions i {
  position: relative;
  top: -1px;
  font-size: 16px !important;
}

.v-card--material-stats.v-card .v-card__actions .caption {
  color: #999;
}

.v-card .v-offset .v-card--material__header.v-card {
  padding: 15px;
}

.v-card--material-chart.v-card .v-card--material__header {
  border-radius: 6px;
  min-height: 160px;
  padding: 0 !important;
}

.v-card--material-chart.v-card .v-card--material__header .ct-label {
  font-size: 0.73rem;
}

.v-card .v-offset {
  top: -20px !important;
  margin-bottom: -20px !important;
}

.v-offset {
  margin: 0 auto;
  max-width: calc(100% - 32px);
  position: relative;
}

.v-offset--full-width {
  max-width: 100%;
}
